<div id="rank-card-ui" class="rank-card" onclick="openRanksModal()">
    <div class="rank-circle" id="main-rank-icon"></div>
    <div class="rank-details w-full">
        <div id="greeting-text" class="greeting-big">Good Morning!</div>
        <div class="rank-header-row">
            <div id="rank-display" class="rank-title">Loading...</div>
            <div id="rank-psyche" class="rank-psyche">...</div>
        </div>
        <div class="progress-wrapper">
            <div id="stardust-cnt" class="stardust-floater">0/0 Stardust</div>
            <div class="progress-bg">
                <div id="rank-progress-bar" class="progress-bar"></div>
            </div>
        </div>
    </div>
</div>
